# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# env file
env.yml
.env

# input logs
handlerInput.json
handlerInput2.json
handlerInput3.0.json
handlerInput3.json

# config dumps
on
off

